{% extends 'base.html.twig' %}

{% block title %}My Blog{% endblock %}

{% block body %}
    <h1>My Blog</h1>

    <div class="filter-container">
        <input
                type="text"
                id="filter"
                class="filter"
                placeholder="Filter posts..."
        />
    </div>
    <div id="posts-container"></div>

    <div class="loader">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
{% endblock %}
